@import url("bootstrap.min.css");
@import url("bootstrap.css");
/* Navbar */
.navbar-brand {
	font-family:'Roboto bold';
	font-size: 20px;
}

/* Home */
.judul{
  position: absolute;
  left:10%;
  top: 20%;
  color: #eaeaeb;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 2px 1px 2px;
}

.keterangan{
  position: absolute;
  left: 10%;
  top: 33%;
  color: white;
  font-size: 14px;
}

.text{
  font-size: 8px;
  position: absolute;
  color: white;
  left: 10%;
  top: 66%;
  width: 500px;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
	.nav-link {
	  text-transform: uppercase;
	  margin-left: 110px;
	}

	.nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid #CC00FF;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
}

* {
    box-sizing: border-box;
  }
   
  body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
  }

  /* Slider */
.slider {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-transition: -webkit-transform 1600ms;
    transition: -webkit-transform 1600ms, transform 1600ms;
    -webkit-transform: scale(1);
    transform: scale(1);
    outline: none;
  }

  .slider > img {
    position: absolute;
    right: 10%;
    bottom: 0;
    height: 100%;
    opacity: 0;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }
  
  .slide-1 > img {
    right: 0;
  }

  /* Animations */
  .slider > img {
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition: transform 800ms, opacity 800ms;
    -webkit-transition-delay: 1.2s; /* Safari */
    transition-delay: 1.2s;
  }

/* Responsive */
  .slider {
    padding: 0 15px;
    width: 175px;
    height: 42px;
    top: 15px;
  }

  .slider > img {
    right: 2%;
  }

  .slide-1 > img {
    right: -110px;
  }