@import url("bootstrap.min.css");
@import url("bootstrap-theme.css");

/* background website */
body{
	background-image: linear-gradient(to right, #000000, #353535);
}

/* Navbar */
.navbar-brand {
	font-family: Roboto bold;
	font-size: 20px;
}

/* jombotron */
.jumbotron .display-4 {
  text-align: center;
  margin-top: 150px;
	color: white;
}

/* Others */


/* DESKTOP VERSION */
@media (min-width: 992px) {
	.nav-link {
	  text-transform: uppercase;
	  margin-left: 110px;
	}

	.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #CC00FF;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
}
